<div id="table-product">
  <table>
    <thead>
      <tr>
        <th>STT</th>
        <th>ID</th>
        <th>Category</th>
        <th>Name</th>
        <th>Price</th>
        <th>Image</th>
        <th>Action</th>
        <th>
          <a routerLink="/admin/products/add">
            <button class="btn-add">
              <i class="bx bx-plus-circle"></i>
            </button>
            <span>Add</span>
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products; index as i" scope="row">
        <td>{{ i + 1 }}</td>
        <td>{{ product._id }}</td>
        <td></td>
        <td>{{ product.name }}</td>
        <td>
          {{ product.price | currency : 'VND' : 'symbol' : '1.3-3' }}
        </td>
        <td width="60">
          <img [src]="product.imgURL" width="50" height="50" />
        </td>
        <td>{{product.desc}}</td>
        <td>{{ product.createAt | date : "dd-mm-yyyy" }}</td>
        <td width="150" class="text-center">
          <button class="btn-remove" (click)="removeProduct(product._id!)">
            <i class="bx bx-trash"></i>
          </button>
          <button
            class="btn-edit"
            routerLink="/admin/products/{{ product._id }}/edit"
          >
            <i class="bx bx-edit"></i>
          </button>
        </td>
        <td>
        </td>
      </tr>
    </tbody>
  </table>
</div>
