<!-- Header Section Begin -->
<app-header></app-header>
<!-- Header Section End -->

<!-- Hero Section Begin -->
<app-hero></app-hero>
<!-- Hero Section End -->

<!-- Categories Section Begin -->
<app-category-slide></app-category-slide>
<!-- Categories Section End -->

<!-- Featured Section Begin -->
<app-featured-product></app-featured-product>
<!-- Featured Section End -->

<!-- Banner Begin -->
<app-banner-section></app-banner-section>
<!-- Banner End -->

<!-- Latest Product Section Begin -->
<app-recommend-product></app-recommend-product>
<!-- Latest Product Section End -->

<!-- Blog Section Begin -->
<app-blog-section></app-blog-section>
<!-- Blog Section End -->

<!-- Footer Section Begin -->
<app-footer></app-footer>
<!-- Footer Section End -->
